@import "tailwindcss";

/* Core Sidebar Layout 
  Uses ID selector to ensure it bypasses Tailwind v4 scanning limitations for dynamic JS templates 
*/
#sidebar-menu {
  position: fixed;
  top: 3rem;
  left: 0;
  height: calc(100vh - 3rem - 2rem);
}

/* Dashboard spacing */
#wages-dashboard {
  @apply pt-2;
}
